* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(18, 185, 255);
}
.container {
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  padding: 25px;
  padding-bottom: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: height 0.2s ease;
}
h1 {
  font-size: 30px;
  text-align: center;
}
.form {
  margin: 20px 25px;
}
#text,
#generate {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#text {
  font-size: 16px;
  padding: 1px 17px;
  border: 1px solid #999;
}
#generate {
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  background-color: rgb(29, 93, 136);
}
.qrcode {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px 0px;
}
#qr-image {
  width: 175px;
}
.container.active {
  height: 530px;
}
.container.active .qrcode {
  opacity: 1;
}
